<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>text</key>
		<string>🌿 ​​“生活就像一杯没加糖的咖啡，初尝苦涩，回味却香醇。那些早起赶地铁的日子、加班到深夜的疲惫、一个人吃饭的孤独……看似平淡的瞬间，其实都在默默铺成未来的路。别急，慢慢来，你想要的，时间都会给你。”​</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/27548813/pexels-photo-27548813.jpeg</string>
			<string>https://images.pexels.com/photos/31764117/pexels-photo-31764117.jpeg</string>
		</array>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://images.pexels.com/photos/27548813/pexels-photo-27548813.jpeg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/videos/31305851/china-31305851.jpeg</string>
		</array>
		<key>text</key>
		<string>✈️ ​​“站在山顶的那一刻，突然明白为什么人们总说‘要去看看世界’。风吹散云雾，阳光洒在脸上，脚下的城市小得像积木。原来不是风景治愈了人，而是人终于学会了放下焦虑，和自然共处。下次旅行，你想去哪里？”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2025/04/02/09/50/cat-9508590_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31756517/pexels-photo-31756517.jpeg</string>
		</array>
		<key>text</key>
		<string></string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<true/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2023/09/04/23/58/woman-8233937_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>pic</key>
		<array/>
		<key>text</key>
		<string>当代青年生存现状：工资像大姨妈，一个月来一次，一周就没了；头发像蒲公英，风一吹就飘走；减肥像马拉松，永远在起点徘徊……算了，先点杯奶茶压压惊！</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2025/01/31/17/03/fallow-deer-9372866_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/13248515/pexels-photo-13248515.jpeg</string>
			<string>https://images.pexels.com/photos/17498734/pexels-photo-17498734.jpeg</string>
			<string>https://images.pexels.com/photos/31733140/pexels-photo-31733140.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>text</key>
		<string>有没有一首歌，前奏一响就能把你拉回某个瞬间？对我来说是《晴天》——大学宿舍里，室友弹着吉他，窗外在下雨。音乐真是时光机啊……你的‘回忆杀’BGM是哪首？</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2022/03/30/22/05/easter-7101862_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>text</key>
		<string>🎤 ​​“如果让你推荐一首歌，你会选哪首？🎵”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2022/02/13/17/22/cartoon-easter-bunny-7011655_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>text</key>
		<string>成年人的崩溃，往往是从‘我没事’开始的。</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31733140/pexels-photo-31733140.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2025/03/18/13/18/harvard-pilot-9478129_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/13248515/pexels-photo-13248515.jpeg</string>
			<string>https://images.pexels.com/photos/17498734/pexels-photo-17498734.jpeg</string>
			<string>https://images.pexels.com/photos/31733140/pexels-photo-31733140.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
		</array>
		<key>text</key>
		<string>🎤 ​​“如果让你推荐一首歌，你会选哪首？🎵”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2024/06/25/19/32/love-8853438_1280.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/13248515/pexels-photo-13248515.jpeg</string>
			<string>https://images.pexels.com/photos/17498734/pexels-photo-17498734.jpeg</string>
			<string>https://images.pexels.com/photos/31733140/pexels-photo-31733140.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>text</key>
		<string>🎤 ​​“如果让你推荐一首歌，你会选哪首？🎵”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2024/04/19/12/44/woman-8706275_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>text</key>
		<string>🎤 ​​“如果让你推荐一首歌，你会选哪首？🎵”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2022/07/31/21/27/little-boy-7356918_1280.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>pic</key>
		<array>
			<string>https://images.pexels.com/photos/31567324/pexels-photo-31567324.jpeg</string>
			<string>https://images.pexels.com/photos/31749800/pexels-photo-31749800.jpeg</string>
			<string>https://images.pexels.com/photos/31592956/pexels-photo-31592956.jpeg</string>
			<string>https://images.pexels.com/photos/13872954/pexels-photo-13872954.jpeg</string>
			<string>https://images.pexels.com/photos/13248515/pexels-photo-13248515.jpeg</string>
			<string>https://images.pexels.com/photos/17498734/pexels-photo-17498734.jpeg</string>
			<string>https://images.pexels.com/photos/31733140/pexels-photo-31733140.jpeg</string>
			<string>https://images.pexels.com/photos/31659583/pexels-photo-31659583.jpeg</string>
			<string>https://images.pexels.com/photos/31061649/pexels-photo-31061649.png</string>
		</array>
		<key>text</key>
		<string>🎤 ​​“如果让你推荐一首歌，你会选哪首？🎵”​</string>
		<key>name</key>
		<string>测试用户</string>
		<key>isVip</key>
		<false/>
		<key>avatar</key>
		<string>https://cdn.pixabay.com/photo/2025/03/28/17/58/flowers-9499374_1280.jpg</string>
	</dict>
</array>
</plist>
